body {
        background-color: black;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

a {
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    color: aquamarine;
    display: block;
    text-align: center;
}

video {
    display: block;
    margin: auto;
    }

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

p {
    font-family: Verdana;
    font-weight: normal;
    font-size: 21px;
    color: gray;
}

span {
    font-family: Verdana;
    font-weight: normal;
    font-size: 21px;
    color: gray;
    display: block;
    text-align: center;
}